body {
    color: red;
    font-size: 22;
    background-color: aquamarine;
    text-align: center;
}

.red {
    color: red;
}

.green {
    color: green;
}

table {
    background-color: aquamarine;
    color: crimson;
}