<h1>Mobile Component</h1>

<table border="2">
    <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
    </thead>
    <tbody>
        <tr>
            <td>10011</td>
            <td><img src="https://hips.hearstapps.com/hmg-prod/images/samsung-phones-1675275534.jpg"></td>
            <td>35000</td>
        </tr>
        <tr>
            <td>10022</td>
            <td><img src="https://1.bp.blogspot.com/-mmm0NGf1yzc/Xu5sdWvwueI/AAAAAAAAgl8/eStbiyVC1aQV2jAVDgaVjoDbMbDKqGd1ACLcBGAsYHQ/s1600/new%2Biphone.jpg"></td>
            <td>100000</td>
        </tr>
    </tbody>
</table>
